.btn-primary {
    background-color: #064635;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.btn-redirection {
    margin-top: 5px;
}